@font-face {
    font-family: Montserrat-Bold;
    src: url("/fonts/Montserrat-Bold.ttf");
}
@font-face {
    font-family: Montserrat-Regular;
    src: url("/fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: San-Francisco-Display-Bold;
    src: url("/fonts/San-Francisco-Display-Bold.ttf");
}
@font-face {
    font-family: San-Francisco-Display-Regular;
    src: url("/fonts/San-Francisco-Display-Regular.ttf");
}
@font-face {
    font-family: San-Francisco-Display-Thin;
    src: url("/fonts/San-Francisco-Display-Thin.ttf");
}
@font-face {
    font-family: San-Francisco-Display-Ultralight;
    src: url("/fonts/San-Francisco-Display-Ultralight.ttf");
}
